.cart-empty.woocommerce-info {
  width: 100%;
  margin-bottom: 0;
}
/*======== START cart page =========*/
.woocommerce-cart {
  input:not([type="button"]):not([type="submit"]) {
    // background: #e9e9e9;
    // border: 0 !important;
    border-radius: 0;
  }

  .increment-qty,
  .decrement-qty {
    display: none;
  }

  .woocommerce {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    @media screen and (max-width: 1105px) {
      justify-content: center;
    }
  }

  .cart-collaterals {
    width: 445px;

    .top {
      padding: 43px 35px;
      background: #f1f1f1;
    }

    .cart_totals {
      float: none;
      width: 100%;
    }

    #customized-cupon {
      margin-top: 13px;
      display: flex;
    }

    #customized-cupon-input {
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #434343;

      background: #ffffff;
      border: 1px solid #cbcbcb;
      border-right: 0;
      box-sizing: border-box;
      padding-left: 30px;

      &::placeholder {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #434343;
      }
    }
    #coupon_code_decoy {
      padding-left: 30px;
      padding-right: 30px;
    }
    .payment-icons {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      margin-top: 18px;

      &__img {
        margin: 10px;
        height: auto;
        width: 55px;
      }
    }
  } //cart-collaterals

  .woocommerce-cart-form {
    width: 100%;
    max-width: 634px;
  }

  // .woocommerce-notices-wrapper {
  //   width: 100%;
  // }

  .woocommerce table.shop_table th {
    padding: 20px 12px;
    font-family: "Bodoni MT", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #434343;
  }

  .woocommerce table.shop_table td {
    padding: 40px 12px;
    @media screen and (max-width: 769px) {
      padding: 10px 12px;
    }
  }

  table tbody > tr:nth-child(odd) > td,
  table tbody > tr:nth-child(odd) > th {
    background-color: #fff;
  }

  table tbody tr:hover > td,
  table tbody tr:hover > th {
    background-color: #fff;
  }

  td.product-info {
    display: flex;
    @media screen and (max-width: 769px) {
      display: flex !important;
    }
  }

  .product-name {
    @media screen and (max-width: 769px) {
      text-align: left !important;
    }
    a {
      //font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #434343;
    }
  }

  .product-remove a.remove {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #a41111 !important;

    &:hover {
      color: #a41111 !important;
      background: transparent;
    }
  }

  .left {
    @media screen and (max-width: 769px) {
      display: flex;
      width: auto;
      padding-left: 20px;
    }
    a {
      width: 75px;
      display: inline-block;
      margin-right: 35px;
    }
  }

  .product-price,
  .product-subtotal {
    font-family: "Bodoni MT", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #434343;
  }

  .product-price,
  .product-subtotal,
  .product-quantity {
    text-align: right;
  }

  table.cart img {
    width: 100%;
  }

  .woocommerce table.shop_table,
  .woocommerce table.shop_table td,
  .woocommerce table thead:first-child tr:first-child th {
    border: none;
  }

  .woocommerce table.shop_table td {
    border-top: 1px solid #e9e9e9;
  }

  .woocommerce table.shop_table tr {
    //border-top: 1px solid #E9E9E9;

    &:hover {
      background-color: transparent;
    }
  }

  .product-quantity .quantity {
    max-width: 86px;
    position: relative;
    margin: 0 auto;

    @media screen and (max-width: 768px) {
      margin: 0 0 0 auto;
    }

    .qty {
      width: 100%;
      border-radius: 8px;
      min-height: 33px;
      border: 0;
    }
  }

  .cart-total-title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #434343;
    margin-top: 0;
  }

  .cart-collaterals {
    .shop_table .cart-subtotal,
    .shop_table .order-total,
    .shop_table .woocommerce-shipping-totals {
      th {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        padding: 0 0 15px 0 !important;
        background-color: transparent;
        border: 0;
        margin-bottom: 15px;
      }

      td {
        padding: 0 0 15px 0 !important;
        background-color: transparent;
        border: 0;
        text-align: right;
      }

      .woocommerce-Price-amount.amount {
        font-family: "Bodoni MT", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #434343;
      }
    }

    //.woocommerce-shipping-totals {
    //  th,td {
    //    border: 0;
    //  }
    //}
  } // cart colletorals

  .wc-proceed-to-checkout {
    padding-bottom: 0;

    a.checkout-button {
      background: #9caf86;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      color: #ffffff;
      padding: 10px;
      border-radius: 0;
      margin-bottom: 0;

      &:hover {
        background: #434343;
        color: #ffffff;
      }
    }
  }

  .security-icon {
    text-align: right;
    margin-bottom: -40px;
    padding-top: 10px;
  }

  .actions {
    .coupon input,
    .coupon button,
    [name="update_cart"] {
      min-height: 40px !important;
      padding: 0 15px !important;
      min-width: 140px;
    }
    &__cart-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .continue-shopping {
      text-align: left;

      @media screen and (max-width: 768px) {
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
      }

      &__link {
        // font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        color: #9caf86;
      }
    }
  } // actions

  .woocommerce ul#shipping_method li {
    justify-content: flex-end;
  }

  .woocommerce ul#shipping_method li label {
    font-size: 14px;
  }

  // tr.tax-rate {
  // }

  tr.tax-rate th {
    padding: 7px 0 5px 0 !important;
    font-family: "Poppins", sans-serif !important;
    background: transparent !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    border-top: 1px solid #ebe9eb;
    border-bottom: 1px solid #ebe9eb;
  }

  tr.tax-rate td {
    padding: 7px 0 5px 0 !important;
    text-align: right;
    background: transparent !important;
    border-bottom: 1px solid #ebe9eb !important;

    span {
      font-family: "Bodoni MT", sans-serif;
      font-weight: bold;
    }
  }
}

dl.variation {
  display: flex;
}

dd.variation-color {
  margin: 0 0 0 10px;
}

.woocommerce table.shop_table_responsive tr td::before,
.woocommerce-page table.shop_table_responsive tr td::before {
  font-family: "Bodoni MT", sans-serif;
  font-weight: 700;
  font-size: 16px;
}