.woocommerce-info {
  border-top-color: #9caf86;
}
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  background-color: #9caf86;
  color: #fff;
  -webkit-font-smoothing: antialiased;

  &:hover {
    background-color: #434343;
  }
}

/*------ wOOCOMMERCE  shipping line tems -------*/
.woocommerce ul#shipping_method li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.woocommerce-shipping-destination {
  margin-top: 15px;
}
